<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head th:replace="fragments/niceadmin/head :: headFragment"></head>
<body>


<div th:replace="fragments/niceadmin/header :: headerFragment"></div>


<div th:replace="fragments/niceadmin/nav :: navFragment"></div>


		<div layout:fragment="content"></div>

<div th:replace="fragments/niceadmin/footer :: footerFragment"></div>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 <!-- Vendor JS Files -->
  <script th:src="@{/niceadmin/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/niceadmin/assets/vendor/php-email-form/validate.js}"></script>
  <!-- Template Main JS File -->
  <script src="/niceadmin/assets/js/main.js"></script>

  
</body>
</html>