<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/niceadminlayout}">

<script type="text/javascript"
	src="../static/EasyTree/jquery.easytree.min.js"></script>
<link rel="stylesheet"
	href="../static/EasyTree/skin-win8/ui.easytree.css" class="skins"
	type="text/css" />
<th:block layout:fragment="content">

<main id="main" class="main">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">게시판 코드</th>
				<th scope="col">게시판명</th>
				<th scope="col">분류</th>
				<th scope="col">생성자ID</th>
				<th scope="col">생성일시</th>
				<th scope="col">활성상태</th>
				<th scope="col">정렬순서</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="b : ${boardList}">
				<tr>
					<td th:text="${b.boardCode}"></td>
					<td th:text="${b.boardTitle}"></td>
					<td th:text="${b.categoryCode}"></td>
					<td th:text="${b.boardConstuctor}"></td>
					<td th:text="${b.boardConstuctionDT}"></td>
					<td th:text="${b.boardActiveStatus}"></td>
					<td th:text="${b.boardSortOrder}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<section class="section">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<h5 class="card-title col-sm-6">게시판 목록</h5>
							<div class="col-sm-6" style="text-align: right; align-self : center">
								<button type="button" class="btn btn-primary btn-new">신규</button>
							</div>
						</div>
						<div class="tree_box" id="tree_box">
							<div class="con">
								<ul id="tree_menu" class="tree_menu">
									<li class="depth_1"><strong>게시판</strong> 
									<th:block th:each="b : ${boardList}">
										<ul class="depth_2">
											<li>
												<a href="#none" class="boardList" th:text="${b.boardTitle}">-</a>
											</li>
										</ul>
									</th:block>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-body">
							<div class="row">
							<h5 class="card-title col-sm-6">게시판 정보</h5>
							<div class="col-sm-6" style="text-align: right; align-self : center">
								<button type="reset" class="btn btn-danger btn-delete">삭제</button>
							</div>
						</div>
						<!-- General Form Elements -->
						<form id = "form-board" action="" >
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">게시판명</label>
								<div class="col-sm-10">
									<input id="ipb-Title" type="text" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">카테고리</label>
								<div class="col-sm-10">
									<select class="form-select" aria-label="Default select example" id="select-Category">
										<option value="" selected>대분류</option>
										<option value="board">board</option>
										<option value="menu">menu</option>
										<option value="item">item</option>
									</select> 
								</div>
							</div>
							<div class="row mb-3">
								<legend class="col-form-label col-sm-2 pt-0">사용여부</legend>
								<div class="col-sm-10">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="gridRadios" id="active" value="true"> 
										<label class="form-check-label" for="active"> 게시판 사용</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="gridRadios" id="inactive" value="false">
										<label class="form-check-label" for="inactive"> 게시판 숨기기</label>
									</div>
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label">정렬순서</label>
								<div class="col-sm-10">
									<input id="ipb-SortOrder" type="number" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">상태</label>
								<div class="col-sm-10">
									<input id="ipb-Status" type="text" class="form-control" readOnly>
								</div>
							</div>
							<div class="row mb-3" style="display: none">
								<label for="inputText" class="col-sm-2 col-form-label">게시판 코드</label>
								<div class="col-sm-10">
									<input id="ipb-Code" type="text" class="form-control">
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-sm-12" style="text-align: right">
									<button type="button" class="btn btn-primary btn-save">저장</button>
									<button type="reset" class="btn btn-secondary btn-refresh">취소</button>
								</div>
							</div>
						</form>
						<!-- End General Form Elements -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script th:src="@{/js/boardmanagement.js}"></script>
</th:block>

</html>