<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/niceadminlayout}">

<script type="text/javascript"
	src="../static/EasyTree/jquery.easytree.min.js"></script>
<link rel="stylesheet"
	href="../static/EasyTree/skin-win8/ui.easytree.css" class="skins"
	type="text/css" />
<th:block layout:fragment="content">

<main id="main" class="main">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">게시판 코드</th>
				<th scope="col">게시판명</th>
				<th scope="col">분류</th>
				<th scope="col">생성자ID</th>
				<th scope="col">생성일시</th>
				<th scope="col">활성상태</th>
				<th scope="col">정렬순서</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="b : ${boardList}">
				<tr>
					<td th:text="${b.boardCode}"></td>
					<td th:text="${b.boardTitle}"></td>
					<td th:text="${b.categoryCode}"></td>
					<td th:text="${b.boardConstuctor}"></td>
					<td th:text="${b.boardConstuctionDT}"></td>
					<td th:text="${b.boardActiveStatus}"></td>
					<td th:text="${b.boardSortOrder}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<section class="section">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<h5 class="card-title col-sm-6">게시판 목록</h5>
							<div class="col-sm-6" style="text-align: right; align-self : center">
								<button type="button" class="btn btn-primary btn-new">신규</button>
							</div>
						</div>
						<div class="tree_box" id="tree_box">
							<div class="con">
								<ul id="tree_menu" class="tree_menu">
									<li class="depth_1"><strong>게시판</strong> 
									<th:block th:each="b : ${boardList}">
										<ul class="depth_2">
											<li>
												<a href="#none" class="boardList" th:text="${b.boardTitle}">-</a>
											</li>
										</ul>
									</th:block>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-body">
							<div class="row">
							<h5 class="card-title col-sm-6">게시판 정보</h5>
							<div class="col-sm-6" style="text-align: right; align-self : center">
								<button type="reset" class="btn btn-danger btn-delete">삭제</button>
							</div>
						</div>
						<!-- General Form Elements -->
						<form id = "form-board" action="" >
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">게시판명</label>
								<div class="col-sm-10">
									<input id="ipb-Title" type="text" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">카테고리</label>
								<div class="col-sm-10">
									<select class="form-select" aria-label="Default select example" id="select-Category">
										<option value="" selected>대분류</option>
										<option value="board">board</option>
										<option value="menu">menu</option>
										<option value="item">item</option>
									</select> 
								</div>
							</div>
							<div class="row mb-3">
								<legend class="col-form-label col-sm-2 pt-0">사용여부</legend>
								<div class="col-sm-10">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="gridRadios" id="active" value="true"> 
										<label class="form-check-label" for="active"> 게시판 사용</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="gridRadios" id="inactive" value="false">
										<label class="form-check-label" for="inactive"> 게시판 숨기기</label>
									</div>
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label">정렬순서</label>
								<div class="col-sm-10">
									<input id="ipb-SortOrder" type="number" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">상태</label>
								<div class="col-sm-10">
									<input id="ipb-Status" type="text" class="form-control" readOnly>
								</div>
							</div>
							<div class="row mb-3" style="display: none">
								<label for="inputText" class="col-sm-2 col-form-label">게시판 코드</label>
								<div class="col-sm-10">
									<input id="ipb-Code" type="text" class="form-control">
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-sm-12" style="text-align: right">
									<button type="button" class="btn btn-primary btn-save">저장</button>
									<button type="reset" class="btn btn-secondary btn-refresh">취소</button>
								</div>
							</div>
						</form>
						<!-- End General Form Elements -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script type="text/javascript">

/* 트리형 메뉴 */
function tree_menu() {
  $('ul.depth_2 >li > a').click(function(e) {

    var temp_el = $(this).next('ul');
    var depth_3 = $('.depth_3');

    // 처음에 모두 슬라이드 업 시켜준다.
    depth_3.slideUp(300);
    // 클릭한 순간 모두 on(-)을 제거한다.// +가 나오도록
    depth_3.parent().find('em').removeClass('on');

    if (temp_el.is(':hidden')) {
      temp_el.slideDown(300);
      $(this).find('em').addClass('on').html('하위폴더 열림');
    } else {
      temp_el.slideUp(300);
      $(this).find('em').removeClass('on').html('하위폴더 닫힘');
    }

    return false;

  });
}
if ($('#tree_menu').is(':visible')) {
  tree_menu();
}
</script>
<script th:inline="javascript">

/*<![CDATA[*/
	/* 타임리프로 가져온 데이터 자바스크립트에서 가져오기  */
    var boardList = /*[[${boardList}]]*/ 'default';
/*]]>*/
	console.log(boardList)
$(document).ready(function(){
/* 목록 아이템 선택시 게시판 정보 폼에 입력 */
	$(".boardList").click(function() {		// 모든 <button>요소에 click 이벤트를 설정함.
			for(var i =0; i< boardList.length; i++){
				if(this.text == boardList[i].boardTitle){
					$("#ipb-Title")[0].value = boardList[i].boardTitle;
					$("#ipb-Status")[0].value = "update";
					$("#select-Category")[0].value = boardList[i].categoryCode;
					$("#ipb-SortOrder")[0].value = boardList[i].boardSortOrder;
					$("#ipb-Code")[0].value = boardList[i].boardCode;
					
					if(boardList[i].boardActiveStatus == "true"){
						$("#active")[0].checked = true;
					}else{
						$("#inactive")[0].checked = true;
					}
				}
			}
			/* 삭제버튼 활성화 */
			$('.btn-delete')[0].style.display= "inline-block";
		},
	);
/* 게시판 관리 폼 초기화*/
	$(".btn-refresh").click(function(){
		$("#form-board").reset();
	})
	
/* 게시판 관리 create/update */
	$(".btn-save").click(function(){
		/* 변수 선언부 */
		var boardTitle = $("#ipb-Title").val();
		var boardStat = $("#ipb-Status").val();
		var categoryCode = $("#select-Category").val();
		var boardSortOrder = $("#ipb-SortOrder").val();
		var boardActiveStatus = $("#active")[0].checked;
		var boardCode = $("#ipb-Code").val();
		var boardConstructor = "ksk1908TEMP"
		var boardConstructionDate = getFormattedDate();
		
		var rsValidation = validation(boardTitle,boardStat,boardSortOrder,categoryCode);
			console.log(rsValidation)
		if(rsValidation){
		}else{
			return;
		}
		if(boardStat == "create"){
			var request = $.ajax({
				url : "/board/create", 
				method : "POST", 
				data : {
					boardTitle : boardTitle,
					categoryCode : categoryCode,
					boardSortOrder : boardSortOrder, 
					boardActiveStatus : boardActiveStatus,
					boardConstructor : boardConstructor,
					boardConstructionDate : boardConstructionDate
					
					},
				dataType : "text"
			});
		}else{
			var request = $.ajax({
				url : "/board/update", 
				method : "POST", 
				data : {
					boardCode : boardCode,
					boardTitle : boardTitle,
					categoryCode : categoryCode,
					boardSortOrder : boardSortOrder, 
					boardActiveStatus : boardActiveStatus
					},
				dataType : "text"
			});
			
		}
			request.done(function(data) {
				location.reload();
			});

			request.fail(function(jqXHR, textStatus) {
				alert("요청 실패: " + textStatus);
			});
		
	})
});
/* 게시판 Delete */


$(".btn-delete").click(function(){
	var boardCode = $("#ipb-Code").val();
	var request = $.ajax({
		url : "/board/delete", 
		method : "POST", 
		data : {
			boardCode : boardCode,
			},
		dataType : "text"
	});
	
	request.done(function(data) {
		location.reload();
	});

	request.fail(function(jqXHR, textStatus) {
		alert("요청 실패: " + textStatus);
	});
})

$(".btn-new").click(function(){
	var tempMap = {};
	tempMap.boardTitle = "새 게시판";
	tempMap.categoryCode = "board";
	tempMap.boardConstuctor = "1";
	tempMap.boardConstuctionDT = "1";
	tempMap.boardActiveStatus = "true";
	tempMap.boardSortOrder = 1;
	tempMap.status = "create";
	boardList.push(tempMap);

	/* 새 게시판 html element 만들기 */	
	const ul = document.createElement("ul");+
	ul.setAttribute("class","depth_2");
	const li = document.createElement("li");
	const a = document.createElement("a");
	a.setAttribute("href", "#none")
	a.setAttribute("class", "boardList")
	a.text = "새 게시판"
	a.addEventListener('click', function(){
		for(var i =0; i< boardList.length; i++){
			if(this.text == boardList[i].boardTitle){
				$("#ipb-Title")[0].value = boardList[i].boardTitle;
				$("#ipb-Status")[0].value = "create";
				$("#select-Category")[0].value = boardList[i].categoryCode;
				$("#ipb-SortOrder")[0].value = boardList[i].boardSortOrder;
				if(boardList[i].boardActiveStatus == "true"){
					$("#active")[0].checked = true;
				}else{
					$("#inactive")[0].checked = true;
				}
			}
		}
		/* 삭제버튼 비활성화 */
		$('.btn-delete')[0].style.display = "none";
	})
	li.appendChild(a);
	ul.appendChild(li);
	$(".depth_1")[0].appendChild(ul);
	
})
/* 유효성 검사 */
function validation(boardTitle,boardStat,boardSortOrder,categoryCode) {
	/* 	정규식 validate_ooo 형식 */
	var validate_title = /^[가-힣a-zA-Z0-9_-\s]{1,15}$/; // 한글, 영어대소문자, 숫자, 언더바(_), 하이픈(-),1~15자리
	var validate_number = /^[0-9]{1,10}$/; // 한글, 영어대소문자, 숫자, 언더바(_), 하이픈(-),1~15자리
	
	/* 게시판명 체크 */
	if(boardTitle == "" || boardTitle == null ){//공백 체크(게시판명)
		alert("게시판 제목을 입력해주세요.")
		$("#ipb-Title").focus();
		return false;
	} 
	if(!validate_title.test(boardTitle)){		//포맷 유효성 체크(게시판명)
		alert("게시판명 조건 : 한글, 영어대소문자, 숫자, 언더바(_), 하이픈(-) 최대 15자");
		$("#ipb-Title").focus();
		return false;
	}
	/* 사용여부, 정렬순서, 카테고리 유효성 검사 */
	if(boardStat == "" || boardStat == null ){
		alert("사용여부는 필수 입력사항입니다.");
		$("#active")[0].focus();
		return false;
	}
	if(!validate_number.test(boardSortOrder)){
		alert("정렬순서는 숫자만 입력 가능합니다..");
		$("#ipb-SortOrder").focus();
		return false;
	}
	if(categoryCode == "" || categoryCode == null ){
		alert("카테고리는 필수 입력사항입니다.");
		$("#select-Category").focus();
		return false;
	}
	return true;
	
}

function getFormattedDate(){
	var today = new Date();
	var months = ["01", "02", "03","04", "05", "06", "07", "08", "09", "10", "11", "12"];
	var time = today.getHours()+":"+today.getMinutes()+":"+today.getMinutes();
	var formattedDate = today.getFullYear() + '-' + months[today.getMonth()] + '-' + today.getDate() + " " + time;
	return formattedDate;
}
</script>
</th:block>

</html>