<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/niceadminlayout}">

<script type="text/javascript" src="../static/EasyTree/jquery.easytree.min.js"></script>
<link rel="stylesheet" href="../static/EasyTree/skin-win8/ui.easytree.css" class="skins" type="text/css" />
<th:block layout:fragment="content">
	<main id="main" class="main">
		<section class="section profile">
		<div class="card" style="margin-bottom:10px">
            <div class="card-body" style="padding-top:20px">
              <!-- General Form Elements -->
              <form>
                <div class="row mb-3">
                  <div class="col-md-12 col-form-label">
                  		<h2 th:text="${postTitle}">[postT]</h2>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-1 col-form-label">카테고리</label>
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" disabled="disabled">
                      <option value="">게시판</option>
                      <option value="1" selected>자유게시판</option>
                      <option value="2">Q&A</option>
                      <option value="3">매장소개</option>
                    </select>
                 </div>
                 <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" disabled="disabled">
                      <option value="">선택</option>
                      <option value="1" selected>카테고리1</option>
                      <option value="2">카테고리2</option>
                      <option value="3">카테고리3</option>
                    </select>
                  </div>
                   <div class="col-md-7"></div>
                </div>
              </form>
              <!-- End General Form Elements -->

            </div>
          </div>
			<!-- 게시글 작성 tinymce-editor 에디터 -->
			<div class="card">
				<div class="card-body" style="padding-top:20px;">
					<div class="card-body" style="padding-top:20px; border:1px solid gray">
						<div th:utext="${postContent}"></div>
					</div>
				</div>
			</div>
		</section>
    </main>
</th:block>

</html>