<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/niceadminlayout}">
    <th:block layout:fragment="content">
        <main id="main" class="main">
            <div class="alert alert-dark alert-dismissible fade show">
                <div><a th:href="@{/wholestockitemlist}"><strong>재고 관리하기</strong></a><strong> > 재고 이동</strong>
                    <p style="float: right">USER0001, KLUSTER</p></div>
            </div>
            <div class="card mb-3">
                <table class="table-bordered" style="margin-bottom: 10px; margin-top: 10px;">
                    <thead>
                    <tr>
                        <th scope="col">선택</th>
                        <th scope="col">재고번호</th>
                        <th scope="col">품명</th>
                        <th scope="col">유형</th>
                        <th scope="col">원산지</th>
                        <th scope="col">단위</th>
                        <th scope="col">수량</th>
                        <th scope="col">상세</th>
                        <th scope="col">생산자</th>
                        <th scope="col">유통기한</th>
                        <th scope="col">등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="t : ${wholestockItemList}">
                        <tr>
                            <td>
                                <input type="checkbox" id="confirmedItem" name="confirmedItem" th:value="${t.itemCode}" th:text="${t.itemCode}">
                            </td>
                            <td th:text="${t.itemName}"></td>
                            <td th:text="${t.itemTypeName}"></td>
                            <td th:text="${t.originName}"></td>
                            <td th:text="${t.itemUnit}"></td>
                            <td th:text="${t.itemQuan}"></td>
                            <td th:text="${t.itemDesc}"></td>
                            <td th:text="${t.itemProd}"></td>
                            <td th:text="${t.itemLife}"></td>
                            <td th:text="${t.itemDate}"></td>
                        </tr>
                        <input type="hidden" id="storageMoveName" th:value="${t.storageName}">
                        <input type="hidden" id="storageMoveCode" th:value="${t.storageCode}">
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-6" style="margin-top: 25px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">창고 선택</h5>
                            <!--FORM 1 창고 이동 아이템 storageMoveConfirm-->
                            <form id="storageMoveConfirm" th:action="@{/wholestockitemlist/updatestorage}" method="post">
                                <input type="hidden" id="confirmedStorageCode" name="storageCode" value="">
                                <input type="hidden" id="confirmedItemCode" name="itemCode" value="">
                                <input type="hidden" id="storageLogNote" name="logNote" value="">
                                <input type="hidden" id="storageLogType" name="logType" value="">
                                <input type="hidden" id="storageLogId" name="memberId" value="">
                            </form>
                            <form>

                            </form>
                            <div class="d-grid gap-2 mt-3">
                                <th:block th:each="s : ${storageList}">
                                    <button type="button" id="confirmedStorageName" class="btn btn-secondary" th:onclick="storageMoveCheckConfirm([[${s.storageCode}]])">
                                        [[${s.storageName}]]
                                        <span th:id="'currentStorage_'+ ${s.storageCode}" class="badge bg-primary" style="display: none;">재고품의 현재 위치</span>
                                    </button>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 25px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">이 재고의 이동 내역</h5>
                            <div class="activity">
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-primary">입고</span>
                                        <span>2022-01-01</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails">최초 입고</span>
                                    </div>
                                </div>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-warning">이동</span>
                                        <span>2022-01-02</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails">요청에 따른 창고 이동</span>
                                    </div>
                                </div>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-warning">이동</span>
                                        <span>2021-01-03</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails"></span>
                                    </div>
                                </div>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-success">납품</span>
                                        <span class="itemHistoryDetails">2022-01-03</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails">(주)경훈에 납품</span>
                                    </div>
                                </div>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-secondary">분실</span>
                                        <span>2022-01-04</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails"></span>
                                    </div>
                                </div>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">
                                        <span class="badge rounded-pill bg-danger">폐기</span>
                                        <span>2022-01-05</span>
                                    </div>
                                    <div class="activity-content">
                                        <span class="itemHistoryDetails">냉장고</span>
                                        <span class="itemHistoryDetails">이준혁</span>
                                        <span class="itemHistoryDetails"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </th:block>
</html>