<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">
    <title>Kluster22</title>

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta th:name="viewport" content="width=device-width, initial-scale=1">
    
<!-- jquery 최신 버전 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Favicons -->
  <link th:href="@{/NiceAdmin/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/NiceAdmin/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/NiceAdmin/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/NiceAdmin/assets/css/style.css}" rel="stylesheet">
  
  <script type="text/javascript">
  	
  </script>
</head>

</html>