<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:fragment="navFragment">
    <ul class="sidebar-nav" id="sidebar-nav">
    
    <!-- 1-depth 메뉴 -->
	<th:block th:if="${session.menuListD1}" th:each="m1 : ${session.menuListD1}">
		<th:block th:if="${m1.menuLevel == 1}">
		<li class="nav-item">
			<a class="nav-link collapsed" th:attr = "data-bs-target = '#'+${m1.menuId}" data-bs-toggle="collapse" href="#">
				<i class="bi bi-grid"></i> 
				<span th:text="${m1.menuName}"></span>
				<i class="bi bi-chevron-down ms-auto"></i>
			</a>
			
			<!-- 2-depth 메뉴 -->
			<th:block th:if="${session.menuListD2}">
			<ul th:id="${m1.menuId}" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<th:block th:if="${m2.menuLevel == 2 && m2.parentMenuId == m1.menuId}" th:each="m2 : ${session.menuListD2}">
				<li>
					<a th:href="${m2.menuUrl}">
						<i class="bi bi-circle"></i>
						<span th:text="${m2.menuName}">----</span>
					</a>
				</li>
				</th:block>
			</ul>
			</th:block>
		</li>
		</th:block>
	</th:block>
    </ul>
  </aside><!-- End Sidebar-->
</html>