@charset "UTF-8";

.board-title,.h5 {
	color:red;
	font-weight: bold !important;
	font-size: 30px;
}
.post-list .post{
	text-align : center;
}
.post-list .post-title:hover{
	 color:black;
	 text-decoration: underline;
	 cursor: pointer;
}
.post-list .post-title:active{
	 color:black;
	 font-weight:600;
}
.hide{
	visibility : hidden;
}
.dataTable-container.post-list-table{
	height : 453px;
}
