<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/niceadminlayout}">
	
	
<th:block layout:fragment="content">
	<main id="main" class="main">
	    here for the main page of orderstock project #2 by kluster

	        <div class="container">
	            <div>
	                <h1>Project #2 by kluster</h1>
	                <p>회원기능</p>
	                <p>
	                    <a href="/members/new">회원 가입</a>
	                    <a href="/members">회원 목록</a>
	                    <a href="/login">로그인</a>
	                </p>
	            </div><!--/Container-->
	        </div>
	</main>
</th:block>
</html>