<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c="http://www.w3.org/1999/XSL/Transform"
	  layout:decorate="~{layout/niceadminlayout}">
	
	
<th:block layout:fragment="content">
	<c:if test="${msg == 'success'}">
		<h2>${sessionScope.member_name}(${sessionScope.member_id})님 환영합니다</h2>
	</c:if>
	<input type="hidden" th:value="${session.SID}" name="id">
	<main id="main" class="main">
	    here for the main page of orderstock project #2 by kluster
			<div th:text="${session.SID}">sdfsdf</div>
	        <div class="container">
	            <form method="get" action={memberId}>


				</form>
	                <h1>Project #2 by kluster</h1>
	                <p>회원기능</p>
	                <p>
	                    <a href="/admin/register">회원 가입</a>
	                    <a href="/members">회원 목록</a>
	                    <a href="/admin/login">로그인</a>
	                </p>
	            </div><!--/Container-->
	        </div>
	</main>
</th:block>

<script>

	let url = document.location.href;
	console.log(url);
</script>
</html>