<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/niceadminlayout}">

<th:block layout:fragment="content">
    <body>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>회원상세페이지</h1>
    <!--   <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
      <!-- 여기서부터 시작 -->
      
      
      
      <div class="card">
      	<div class="card-body">
      		<h5 class="card-title">회원</h5>
      		<form class="row g-3" th:action="@{/admin/membermodify}" method="post">
      			<input name="idx" type="hidden" th:value="${memDetail.idx}">
      			<input  name="memberCategory.memberCategoryNumberIdx"  type="hidden" th:value="${memDetail.memberCategory.memberCategoryNumberIdx}">
      			<div class="col-md-6">
      				<div class="form-floating">
       					<input type="text" class="form-control" name="memberId" id="memberId" placeholder="Your Id" th:value="${memDetail.memberId}" readonly>
        				<label for="floatingName">Your Id</label>
        			</div>
        		</div>
        		<div class="col-md-6">
			        <div class="form-floating"> 
				        <input type="password" class="form-control" name="memberPassword" id="memberPass" placeholder="Password" th:value="${memDetail.memberPassword}"> 
				        <label for="floatingPassword">Password</label>
			        </div>
        		</div>
        		<div class="col-md-6">
        			<div class="form-floating"> 
				        <input type="email" class="form-control" name="memberEmail" id="memberEmail" placeholder="Your Email" th:value="${memDetail.memberEmail}"> 
				        <label for="floatingEmail">Your Email</label>
			        </div>
        		</div>
       			<div class="col-md-6">
      				<div class="form-floating">
       					<input type="text" class="form-control" name="memberName" id="memberName" placeholder="Your Name" th:value="${memDetail.memberName}">
        				<label for="floatingName">Your Name</label>
        			</div>
        		</div>
				<div class="col-md-6">
      				<div class="form-floating">
      					<select class="form-select" name="memberCategoryNumber"  id="memberCategoryName" th:value="${memDetail.memberCategory.memberCategoryName}" >
      						<option th:each="mc : ${memCategory}" th:selected="${memDetail.memberCategory.memberCategoryNumberIdx}==${mc.memberCategoryNumberIdx}"th:value="${mc.memberCategoryNumberIdx}"th:text="${mc.memberCategoryName}">관리자</option>

      						
      					</select>
       					<!--<input type="text" class="form-control" name="memberCategoryName"  placeholder="Your division" th:value="${memDetail.memberCategory.memberCategoryName}">-->
        				<label for="floatingName">Your division</label>
        			</div>
        		</div>
       			<div class="col-md-6">
      				<div class="form-floating">
       					<input type="text" class="form-control" name="memberPhone" id="memberPhone" placeholder="Your Phone" th:value="${memDetail.memberPhone}">
        				<label for="floatingName">Your Phone</label>
        			</div>
        		</div>
		        <div class="col-12">
			        <div class="form-floating">
				        <textarea class="form-control" placeholder="Address" name="memberAddress" id="memberAddress" style="height: 100px;"th:text="${memDetail.memberAddress}">
				        </textarea>
			        	<label for="floatingTextarea">Address</label>
		        	</div>
		        </div>

        	<div class="text-center"> 
        		<button type="submit" class="btn btn-primary">등록</button> 
        		<a href="javascript:history.back();"class="btn btn-danger">뒤로가기</a>
        	</div>
        </form>
        </div>
        </div>
      
      
      
      
      
      
      
      
      
<!-- 여기가 끝 -->
    </div>
    </section>

  </main><!-- End #main -->

    </body>
</th:block>


</html>