<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/niceadminlayout}">

<th:block layout:fragment="content">
    <body>
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>회원리스트</h1>
    <!--   <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
      <!-- 여기서부터 시작 -->
      
      
 
    
    <table>
      <tbody>
        <tr>
          <th>제목</th>
          <td><input name="" value="" type="text"></td>
          <td rowspan="2">
            <div id="search-btn">
              <button type="submit">검색</button>
            </div>
          </td>
        </tr>
        <tr>
          <th>옵션</th>
          <td>
            <select>
			    <option value=""></option>
			    
		</select>
          </td>
        </tr>
      </tbody>
    </table>
		<table class="table table-hover">
			<thead >
				<tr>
					<td>번호</td>
					<td>이름</td>
					<td>회원구분</td>
					<td>이메일</td>
					<td>전화번호</td>
					<td>로그인기록</td>
					<td>상세보기</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="memberlist : ${memberList}">
					<td th:text="${memberlist.idx}"></td>
					<td th:text="${memberlist.memberName}"></td>
					<td th:text="${memberlist.memberCategory.memberCategoryName}"></td>
					<td th:text="${memberlist.memberEmail}"></td>
					<td th:text="${memberlist.memberPhone}"></td>
					<td>구현중</td>
					<td >  <a th:href="@{/admin/memberdetail(idx=${memberlist.idx})}" class="btn btn-primary" >상세보기</a></td>
				</tr>
			</tbody>
		</table>
		
		
		
		
	<!-- 여기가 끝 -->
    </div>
    </section>

  </main><!-- End #main -->

    </body>
</th:block>


</html>