<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">

<th:block layout:fragment="content">
    <body>
    <h3>회원 리스트</h3>
    <table>
      <tbody>
        <tr>
          <th>제목</th>
          <td><input name="" value="" type="text"></td>
          <td rowspan="2">
            <div id="search-btn">
              <button type="submit">검색</button>
            </div>
          </td>
        </tr>
        <tr>
          <th>옵션</th>
          <td>
            <select>
			    <option value=""></option>
			    
		</select>
          </td>
        </tr>
      </tbody>
    </table>
		<table>
			<thead class="table">
				<tr>
					<td>번호</td>
					<td>이름</td>
					<td>회원구분</td>
					<td>이메일</td>
					<td>전화번호</td>
					<td>로그인기록</td>
					<td>상세보기</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="memberlist : ${memberlist}">
					<td th:text="${memberlist.memberIdx}"></td>
					<td th:text="${memberlist.memberName}"></td>
					<td>구현중</td>
					<td th:text="${memberlist.memberEmail}"></td>
					<td th:text="${memberlist.memberPhone}"></td>
					<td>구현중</td>
					<td>구현중</td>
				</tr>
			</tbody>
		</table>
    </body>
</th:block>

</html>