<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/niceadminlayout}">
<th:block layout:fragment="content">
    <main id="main" class="main">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">전체</button>
            <th:block th:each="l : ${storageList}">
                <button type="button" class="btn btn-outline-primary" onclick="getItemListByStorage([[${l.storageCode}]])">[[${l.storageName}]]</button>
            </th:block>
        </div>
        <table class="table-bordered" style="margin-bottom: 10px; margin-top: 10px;">
            <thead>
            <tr>
                <th scope="col">재고번호</th>
                <th scope="col">품명</th>
                <th scope="col">유형</th>
                <th scope="col">원산지</th>
                <th scope="col">단위</th>
                <th scope="col">수량</th>
                <th scope="col">상세</th>
                <th scope="col">생산자</th>
                <th scope="col">유통기한</th>
                <th scope="col">등록일</th>
                <th scope="col">위치</th>
                <th scope="col">선택</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="t : ${wholestockItemList}">
                    <tr>
                        <td th:text="${t.itemCode}"></td>
                        <td th:text="${t.itemName}"></td>
                        <td th:text="${t.itemTypeName}"></td>
                        <td th:text="${t.originName}"></td>
                        <td th:text="${t.itemUnit}"></td>
                        <td th:text="${t.itemQuan}"></td>
                        <td th:text="${t.itemDesc}"></td>
                        <td th:text="${t.itemProd}"></td>
                        <td th:text="${t.itemLife}"></td>
                        <td th:text="${t.itemDate}"></td>
                        <td th:text="${t.storageName}"></td>
                        <td>
                            <input type="checkbox" th:value="${t.itemCode}">
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm">이동</button>
                            <button type="button" class="btn btn-success btn-sm">납품</button>
                            <button type="button" class="btn btn-danger btn-sm" th:onclick="deleteItem([[${t.itemCode}]])">폐기</button>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <button class="btn btn-primary btn-sm" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="addItem()">등록</button>
        <button class="btn btn-danger btn-sm" type="submit">삭제</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">수동 재고 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="setItem" th:action="@{wholestockitemlist/setitem}" method="post">
                            <div class="mb-3">
                                <label for="itemNameForm" class="form-label">품명</label>
                                <input type="text" name="itemName" class="form-control" id="itemNameForm" placeholder="등록할 품명을 입력하세요.">
                            </div>
                            <div class="mb-3">
                                <label for="itemTypeNameForm" class="form-label">유형</label>
                                <select name="itemType" class="form-select form-select-sm mb-3" id="itemTypeNameForm">
                                    <option value="" selected>품목의 유형을 선택하세요.</option>
                                    <option th:each="list : ${itemType}" th:value="${list.itemTypeCode}">[[${list.itemTypeName}]]</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="originNameForm" class="form-label">원산지</label>
                                <select name="itemOrigin" class="form-select form-select-sm mb-3" id="originNameForm">
                                    <option value="" selected>원산지를 선택하세요.</option>
                                    <option th:each="list : ${originCountry}" th:value="${list.originCode}">[[${list.originName}]]</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="itemUnitForm" class="form-label">단위</label>
                                <select name="itemUnit" class="form-select form-select-sm mb-3" id="itemUnitForm">
                                    <option value="" selected>수량 단위를 선택하세요.</option>
                                    <option value="1EA">개(EA)</option>
                                    <option value="1BOX">박스(BOX)</option>
                                    <option value="1KG">킬로그램(KG)</option>
                                    <option value="1L">리터(L)</option>
                                    <option value="1M">미터(M)</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="itemQuanForm" class="form-label">수량</label>
                                <input type="text" name="itemQuan" class="form-control" id="itemQuanForm" placeholder="수량을 입력하세요.">
                            </div>
                            <div class="mb-3">
                                <label for="itemDescForm" class="form-label">상세</label>
                                <input type="text" name="itemDesc" class="form-control" id="itemDescForm" placeholder="품목의 상세 설명을 입력하세요.">
                            </div>
                            <div class="mb-3">
                                <label for="itemProdForm" class="form-label">생산자</label>
                                <input type="text" name="itemProd" class="form-control" id="itemProdForm" placeholder="생산자 계정 검색">
                            </div>
                            <div class="mb-3">
                                <label for="itemLifeForm" class="form-label">유통기한</label>
                                <input type="date" name="itemLife" class="form-control" id="itemLifeForm" th:value="${todayDate}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-primary" onclick="saveItem();">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>