<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment">
    <div class="container">

    </div>
</footer>
<!--<script th:src="@{/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/NiceAdmin/assets/vendor/php-email-form/validate.js}"></script>

&lt;!&ndash; Template Main JS File &ndash;&gt;
<script th:src="@{/NiceAdmin/assets/js/main.js}"></script>-->

</html>